/vpc_igw/.terraform/
/vpc_igw/.terraform.lock.hcl

/pub_subnet/.terraform/
/pub_subnet/.terraform.lock.hcl

/private_nat/.terraform/
/private_nat/.terraform.lock.hcl
/private_nat/terraform.tfstate
/private_nat/terraform.tfstate.backup

/nacl_sg/.terraform.lock.hcl
/nacl_sg/.terraform/
/nacl_sg/terraform.tfstate

/ec2_userdata_sg/.terraform/
/ec2_userdata_sg/.terraform.lock.hcl

/iam_user_and_policy/.terraform/
/iam_user_and_policy/.terraform.lock.hcl

/targetGroups_ELB_ELBListeners/.terraform/
/targetGroups_ELB_ELBListeners/.terraform.lock.hcl
